openapi: 3.1.0
info:
  title: Datto RMM /v2/account /v2/account /v2/filter API
  description: Datto RMM (Remote Monitoring and Management) REST API
  license:
    name: '©Datto, Inc. - All rights reserved. '
    url: http://www.datto.com/
  version: 2.0.0 (Build 201_aadf6556fb176a75fbb9b2aad0f0d2301d64c88a)
servers:
- url: https://concord-api.centrastage.net/api
  description: Generated server url
tags:
- name: /v2/filter
  description: Operations on filters
paths:
  /v2/filter/default-filters:
    get:
      tags:
      - /v2/filter
      summary: Fetches the default device filters.
      operationId: getDefaultsFilters
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: max
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '403':
          description: Authenticated user doesn't have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersPage'
        '401':
          description: Request can not be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersPage'
  /v2/filter/custom-filters:
    get:
      tags:
      - /v2/filter
      summary: Fetches the custom device filters for the user (using administrator role).
      operationId: getCustomFilters
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: max
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '403':
          description: Authenticated user doesn't have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersPage'
        '401':
          description: Request can not be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersPage'
components:
  schemas:
    PaginationData:
      type: object
      description: Pagination data
      properties:
        count:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
    FiltersPage:
      type: object
      description: Filters page
      properties:
        pageDetails:
          $ref: '#/components/schemas/PaginationData'
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    Filter:
      type: object
      description: Filter data
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - rmm_default
          - custom
          - site
        dateCreate:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
