openapi: 3.1.0
info:
  title: Datto RMM /v2/account /v2/account /v2/alert API
  description: Datto RMM (Remote Monitoring and Management) REST API
  license:
    name: '©Datto, Inc. - All rights reserved. '
    url: http://www.datto.com/
  version: 2.0.0 (Build 201_aadf6556fb176a75fbb9b2aad0f0d2301d64c88a)
servers:
- url: https://concord-api.centrastage.net/api
  description: Generated server url
tags:
- name: /v2/alert
  description: Operations on alerts
paths:
  /v2/alert/{alertUid}/unmute:
    post:
      tags:
      - /v2/alert
      summary: Alerts can no longer be un-muted, as of the 8.9.0 release.
      operationId: unmuteAlert
      parameters:
      - name: alertUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '200':
          description: OK
      deprecated: true
  /v2/alert/{alertUid}/resolve:
    post:
      tags:
      - /v2/alert
      summary: Resolves the alert identified by the given alert Uid.
      operationId: resolveAlert
      parameters:
      - name: alertUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '403':
          description: Authenticated user doesn't have access to this resource.
        '401':
          description: Request can not be authorized.
  /v2/alert/{alertUid}/mute:
    post:
      tags:
      - /v2/alert
      summary: Alerts can no longer be muted, as of the 8.9.0 release.
      operationId: muteAlert
      parameters:
      - name: alertUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '200':
          description: OK
      deprecated: true
  /v2/alert/{alertUid}:
    get:
      tags:
      - /v2/alert
      summary: Fetches data of the alert identified by the given alert Uid.
      operationId: getAlert
      parameters:
      - name: alertUid
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
        '409':
          description: Conflict
        '403':
          description: Authenticated user doesn't have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '401':
          description: Request can not be authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
components:
  schemas:
    AlertMonitorInfo:
      type: object
      description: Alert monitor information
      properties:
        sendsEmails:
          type: boolean
        createsTicket:
          type: boolean
    EventLogContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          logName:
            type: string
          code:
            type: string
          type:
            type: string
          source:
            type: string
          description:
            type: string
          triggerCount:
            type: integer
            format: int32
          lastTriggered:
            type: string
            format: date-time
          causedSuspension:
            type: boolean
    TemperatureContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          degree:
            type: number
            format: float
          type:
            type: string
            enum:
            - CPU
            - MEMORY
            - TEMPERATURE
            - FAN
            - DISKHEALTH
            - PSU
            - SNMP_THROUGHPUT
    CustomSNMPContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          displayName:
            type: string
          currentValue:
            type: string
          monitorInstance:
            type: string
    AlertContext:
      discriminator:
        propertyName: '@class'
      properties:
        '@class':
          type: string
      required:
      - '@class'
    Alert:
      type: object
      description: Alert data
      properties:
        alertUid:
          type: string
        priority:
          type: string
          enum:
          - Critical
          - High
          - Moderate
          - Low
          - Information
          - Unknown
        diagnostics:
          type: string
        resolved:
          type: boolean
        resolvedBy:
          type: string
        resolvedOn:
          type: string
          format: date-time
        muted:
          type: boolean
        ticketNumber:
          type: string
        timestamp:
          type: string
          format: date-time
        alertMonitorInfo:
          $ref: '#/components/schemas/AlertMonitorInfo'
        alertContext:
          oneOf:
          - $ref: '#/components/schemas/ActionContext'
          - $ref: '#/components/schemas/AntivirusContext'
          - $ref: '#/components/schemas/BackupManagementContext'
          - $ref: '#/components/schemas/CustomSNMPContext'
          - $ref: '#/components/schemas/DiskHealthContext'
          - $ref: '#/components/schemas/DiskUsageContext'
          - $ref: '#/components/schemas/EndpointSecurityThreatContext'
          - $ref: '#/components/schemas/EndpointSecurityWindowsDefenderContext'
          - $ref: '#/components/schemas/EventLogContext'
          - $ref: '#/components/schemas/FanContext'
          - $ref: '#/components/schemas/FileSystemContext'
          - $ref: '#/components/schemas/NetworkMonitorContext'
          - $ref: '#/components/schemas/OnlineOfflineStatusContext'
          - $ref: '#/components/schemas/PatchContext'
          - $ref: '#/components/schemas/PingContext'
          - $ref: '#/components/schemas/PrinterContext'
          - $ref: '#/components/schemas/PsuContext'
          - $ref: '#/components/schemas/RansomWareContext'
          - $ref: '#/components/schemas/ResourceUsageContext'
          - $ref: '#/components/schemas/SNMPProbeContext'
          - $ref: '#/components/schemas/ScriptContext'
          - $ref: '#/components/schemas/SecCenterContext'
          - $ref: '#/components/schemas/SecurityManagementContext'
          - $ref: '#/components/schemas/StatusContext'
          - $ref: '#/components/schemas/TemperatureContext'
          - $ref: '#/components/schemas/WindowsPerformanceContext'
          - $ref: '#/components/schemas/WmiContext'
        alertSourceInfo:
          $ref: '#/components/schemas/AlertSourceInfo'
        responseActions:
          type: array
          items:
            $ref: '#/components/schemas/ResponseAction'
        autoresolveMins:
          type: integer
          format: int32
    AntivirusContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          status:
            type: string
            enum:
            - NOTDETECTED
            - NOTRUNNING
            - RUNNINGNOTUPTODATE
          productName:
            type: string
    PatchContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          patchUid:
            type: string
          policyUid:
            type: string
          result:
            type: string
          info:
            type: string
    EndpointSecurityThreatContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          esAlertId:
            type: string
          description:
            type: string
    PsuContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          reason:
            type: string
          type:
            type: string
            enum:
            - CPU
            - MEMORY
            - TEMPERATURE
            - FAN
            - DISKHEALTH
            - PSU
            - SNMP_THROUGHPUT
    ScriptContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          samples:
            type: object
            additionalProperties:
              type: string
    PingContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          instanceName:
            type: string
          roundtripTime:
            type: integer
            format: int32
          reasons:
            type: array
            items:
              type: string
    ResponseAction:
      type: object
      properties:
        actionTime:
          type: string
          format: date-time
        actionType:
          type: string
          enum:
          - EMAIL_SENT
          - EMAIL_SEND_ERROR
          - TICKET_PENDING
          - TICKET_CREATED
          - TICKET_CREATION_ERROR
          - TICKET_CLOSED_CALL
          - COMPONENT
          - WEBHOOK_EXECUTED
          - WEBHOOK_EXECUTION_ERROR
        description:
          type: string
        actionReference:
          type: string
        actionReferenceInt:
          type: string
    DiskHealthContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          reason:
            type: string
          type:
            type: string
            enum:
            - CPU
            - MEMORY
            - TEMPERATURE
            - FAN
            - DISKHEALTH
            - PSU
            - SNMP_THROUGHPUT
    ResourceUsageContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          processName:
            type: string
          sample:
            type: number
            format: float
          type:
            type: string
            enum:
            - CPU
            - MEMORY
            - TEMPERATURE
            - FAN
            - DISKHEALTH
            - PSU
            - SNMP_THROUGHPUT
    SecCenterContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          productName:
            type: string
          alertType:
            type: string
            enum:
            - DISABLED
            - NOT_UPTODATE
    WindowsPerformanceContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          value:
            type: number
            format: float
    DiskUsageContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          diskName:
            type: string
          totalVolume:
            type: number
            format: float
          freeSpace:
            type: number
            format: float
          unitOfMeasure:
            type: string
            enum:
            - PERCENT
            - USED
            - FREE
          diskNameDesignation:
            type: string
            enum:
            - ANY_VOLUME
            - ALL_VOLUMES
            - SINGLE_VOLUME
    BackupManagementContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          errorMessage:
            type: string
          timeout:
            type: integer
            format: int32
    SNMPProbeContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          ipAddress:
            type: string
          OID:
            type: string
          ruleName:
            type: string
          responseValue:
            type: string
          deviceName:
            type: string
          monitorName:
            type: string
          oid:
            type: string
    NetworkMonitorContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          description:
            type: string
    ActionContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          packageName:
            type: string
          actionType:
            type: string
            enum:
            - INSTALLED
            - UNINSTALLED
            - VERSION_CHANGED
          prevVersion:
            type: string
          version:
            type: string
    AlertSourceInfo:
      type: object
      description: Alert source information data
      properties:
        deviceUid:
          type: string
        deviceName:
          type: string
        siteUid:
          type: string
        siteName:
          type: string
    FanContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          reason:
            type: string
          type:
            type: string
            enum:
            - CPU
            - MEMORY
            - TEMPERATURE
            - FAN
            - DISKHEALTH
            - PSU
            - SNMP_THROUGHPUT
    SecurityManagementContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          status:
            type: integer
            format: int32
          productName:
            type: string
          infoTime:
            type: integer
            format: int32
          virusName:
            type: string
          infectedFiles:
            type: array
            items:
              type: string
          productNotUpdatedForDays:
            type: integer
            format: int32
          systemRemainsInfectedForHours:
            type: integer
            format: int32
          expiryLicenseForDays:
            type: integer
            format: int32
    FileSystemContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          sample:
            type: number
            format: float
          threshold:
            type: number
            format: float
          path:
            type: string
          objectType:
            type: string
            enum:
            - FILE
            - DIRECTORY
          condition:
            type: string
            enum:
            - ABOVE_THRESHOLD
            - BELOW_THRESHOLD
            - REMOVED
            - CREATED
    StatusContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          processName:
            type: string
          status:
            type: string
            enum:
            - STOPPED
            - STARTPENDING
            - STOPPENDING
            - RUNNING
            - CONTINUEPENDING
            - PAUSEPENDING
            - PAUSED
    WmiContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          value:
            type: string
    PrinterContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          ipAddress:
            type: string
          macAddress:
            type: string
          markerSupplyIndex:
            type: integer
            format: int32
          currentLevel:
            type: integer
            format: int32
    OnlineOfflineStatusContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          status:
            type: string
            enum:
            - ONLINE
            - OFFLINE
    EndpointSecurityWindowsDefenderContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          esAlertId:
            type: string
          description:
            type: string
    RansomWareContext:
      allOf:
      - $ref: '#/components/schemas/AlertContext'
      - type: object
        properties:
          state:
            type: integer
            format: int32
          confidenceFactor:
            type: integer
            format: int32
          affectedDirectories:
            type: array
            items:
              type: string
          watchPaths:
            type: array
            items:
              type: string
          rwextension:
            type: string
          metaAlertTime:
            type: string
            format: date-time
          alertTime:
            type: string
            format: date-time
